{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <h1>
        Settings
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
        </svg>
    </h1>
    <br>
    <div class="d-flex align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-title" style="font-size: 30px"><b>Hi, {{name}}.</b></p>
                <h6 class="card-subtitle mb-2 text-body-secondary">Account Preferences</h6>
                <p class="card-text">
                    <div class="mb-3">
                        <h6 id="displayCurrency"><b>Currency:</b> {{currency}}</h6>
                        <div class="d-grid gap-2 d-md-flex justify-content-md">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#change_currency" style="border-radius: 60px;">
                                Change Currency
                            </button>
                            <div class="modal fade" id="change_currency" tabindex="-1" aria-labelledby="change_currency" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="change_currency">Change Currency</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <select class="form-select" aria-label="Choose currency" style="border-radius: 60px;" id="currency">
                                                <option selected disabled>Select Currency</option>
                                                <option value="$">US dollar (USD)</option>
                                                <option value="€">Euro (EUR)</option>
                                                <option value="¥">Japanese yen (JPY)</option>
                                                <option value="£">Pound sterling (GBP)</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" style="background-color: #212529; color: white" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger" onclick="changeCurrency()">Change</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="border-top: 2px solid black; width: 100%;">
                        <h6><b>Danger Zone</b></h6>
                        <div class="d-grid gap-2 d-md-flex justify-content-md">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_account" style="border-radius: 60px;">
                                Delete Account
                            </button>
                            <div class="modal fade" id="delete_account" tabindex="-1" aria-labelledby="delete_accountLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="delete_accountLabel">Delete Account</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: center;">
                                            <b>Are you sure you want to delete your account?</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" style="background-color: #212529; color: white" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger" onclick="deleteAccount()">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#change_password" style="border-radius: 60px;">
                                Change Password
                            </button>
                            <div class="modal fade" id="change_password" tabindex="-1" aria-labelledby="change_password" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="change_password">Change Password</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="new_password" class="form-label">New Password</label>
                                                    <input type="password" class="form-control" id="new_password">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" style="background-color: #212529; color: white" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger" id="change" onclick="changePassword()">Change</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
